<div class="trainingDay">
    <div class="onlyContent topic">
        <p class="onlyContent">Topic:</p>
        <p class="onlyContent">{{day.Topic}}</p>
    </div>
    <div class="onlyContent topicdesc">
        <p class="onlyContent">Desc:</p>
        <p class="onlyContent">{{day.TopicDesc}}</p>
    </div>
    <div class="onlyContent resources">
        <p class="onlyContent">resources:</p>
        <p class="onlyContent">{{day.Resources}}</p>
    </div>
    <div class="onlyContent expdate">
        <p class="onlyContent expdate">Expected Date</p>
        <p class="onlyContent">{{day.ExpectedDate}}</p>
    </div>
    <div class="onlyContent actdate">
        <p class="onlyContent">Actual Date</p>
        <p class="onlyContent">{{day.ActualDate}}</p>
    </div>
    <div class="onlyContent progress">
        <p class="onlyContent Desc">progress</p>
        <p class="onlyContent">{{day.Progress}}</p>
    </div>

    
    
</div>